<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Levels</key>
	<dict>
		<key>001</key>
		<dict>
			<key>Start</key>
			<string>{510, 370}</string>
			<key>point1</key>
			<string>{700, 390}</string>
			<key>point2</key>
			<string>{780, 460}</string>
		</dict>
		<key>002</key>
		<dict>
			<key>Start</key>
			<string>{620, 500}</string>
			<key>point1</key>
			<string>{560, 510}</string>
			<key>point2</key>
			<string>{500, 490}</string>
		</dict>
		<key>003</key>
		<dict>
			<key>Start</key>
			<string>{430, 460}</string>
			<key>point1</key>
			<string>{380, 440}</string>
			<key>point2</key>
			<string>{350, 410}</string>
		</dict>
		<key>004</key>
		<dict>
			<key>Start</key>
			<string>{320, 380}</string>
			<key>point1</key>
			<string>{310, 360}</string>
			<key>point2</key>
			<string>{300, 340}</string>
		</dict>
		<key>005</key>
		<dict>
			<key>Start</key>
			<string>{290, 310}</string>
			<key>point1</key>
			<string>{290, 310}</string>
			<key>point2</key>
			<string>{290, 310}</string>
		</dict>
		<key>006</key>
		<dict>
			<key>Start</key>
			<string>{95, 194}</string>
			<key>point1</key>
			<string>{95, 194}</string>
			<key>point2</key>
			<string>{95, 194}</string>
		</dict>
		<key>007</key>
		<dict>
			<key>Start</key>
			<string>{222, 250}</string>
			<key>point1</key>
			<string>{222, 250}</string>
			<key>point2</key>
			<string>{222, 250}</string>
		</dict>
	</dict>
</dict>
</plist>
